# {{{projectName}}}
{{#appDescription}}
{{{appDescription}}}
{{/appDescription}}

- API version: {{appVersion}}
- Package version: {{packageVersion}}
{{^hideGenerationTimestamp}}
- Build date: {{generatedDate}}
{{/hideGenerationTimestamp}}
- Build auth: yaLong

## Requirements.

Python 2.7 and 3.4+

## Installation & Usage
### pip install

```sh
pip install -r requirements.txt
```

If the python package is hosted on Github, you can install directly from Github

```sh
pip install git+https://github.com/{{{gitUserId}}}/{{{gitRepoId}}}.git
```
(you may need to run `pip` with root permission: `sudo pip install git+https://github.com/{{{gitUserId}}}/{{{gitRepoId}}}.git`)

Then import the package:
```python
import {{{packageName}}}
from my_client.{{{apiPackage}}}.{{{classVarName}}} import {{{classname}}}
from my_client.{{{apiPackage}}}.api_client import ApiClient
from my_client.configuration import Configuration

endpoint = "https://sellingpartnerapi-na.amazon.com"
refresh_token = "Atzr|IRbFOMiGxxx"
role_arn = "arn:aws:iam::0094506083:role/SellirAllRolesxxx"
aws_access_key = 'AKIAQEM3SIUZxxx'
aws_secret_key = "xxjlOV3qnAWWLtyMsVw0EckXWxxx"
client_id = 'amzn1.application48eb1e3b43a4b64xxx'
client_secret = '8c934d4969b926b3137bdf63f4434c108cfxxx'
marketplace_ids = ['ATVPDKIKX0DER']


config = Configuration(role_arn=role_arn, refresh_token=refresh_token, aws_access_key=aws_access_key,
aws_secret_key=aws_secret_key, client_id=client_id, client_secret=client_secret, region = "US")
api_client = ApiClient(configuration=config)
api_instance = {{{classname}}}(api_client)

api_response = api_instance.xxx('112-941666-87519', marketplace_ids,_request_timeout=120)
print(api_response)

```

## Documentation for API Endpoints

All URIs are relative to *{{basePath}}*

Class | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{classname}}* | [**{{operationId}}**]({{apiDocPath}}{{classname}}.md#{{operationIdLowerCase}}) | **{{httpMethod}}** {{path}} | {{#summary}}{{summary}}{{/summary}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

## Documentation For Models

{{#models}}{{#model}} - [{{{classname}}}]({{modelDocPath}}{{{classname}}}.md)
{{/model}}{{/models}}

## Documentation For Authorization

{{^authMethods}} All endpoints do not require authorization.
{{/authMethods}}{{#authMethods}}{{#last}} Authentication schemes defined for the API:{{/last}}{{/authMethods}}
{{#authMethods}}## {{{name}}}

{{#isApiKey}}- **Type**: API key
- **API key parameter name**: {{{keyParamName}}}
- **Location**: {{#isKeyInQuery}}URL query string{{/isKeyInQuery}}{{#isKeyInHeader}}HTTP header{{/isKeyInHeader}}
{{/isApiKey}}
{{#isBasic}}- **Type**: HTTP basic authentication
{{/isBasic}}
{{#isOAuth}}- **Type**: OAuth
- **Flow**: {{{flow}}}
- **Authorization URL**: {{{authorizationUrl}}}
- **Scopes**: {{^scopes}}N/A{{/scopes}}
{{#scopes}} - **{{{scope}}}**: {{{description}}}
{{/scopes}}
{{/isOAuth}}

{{/authMethods}}

## Author

{{#apiInfo}}{{#apis}}{{^hasMore}}{{infoEmail}}
{{/hasMore}}{{/apis}}{{/apiInfo}}
